.myButton i {
  width: 30px;
  font-size: 100%;
  margin-right: 0;
  outline: none;
}

.myButton {
  outline: none;
  cursor: pointer;
}

@media only screen and (min-width:480px) {
  .myButton i {
    width: 30px;
  }
  .myButton {
    outline: none;
    height: 50px;
  }
}