.input {
  -webkit-appearance: none;
  outline: none;
  height: 30px;
  width:85%;
}

@media only screen and (min-width:450px) {
  .input {
    -webkit-appearance: none;
    outline: none;
    height: 50px;
    width: 85%;

  }
}